/* -------- VAR -------- */
:root {
  --rowHeight: 20px;
  --timelineHeight: 60px;
  --timelineWidth: 1000px;
  --chartPortionPct: 75%;
  --chartPortionFr: 75fr;
  --tbh-blue-background: #232d40;
  --tbh-blue1: #19808f;
  --tbh-blue2: #09343f;
  --headerheight: 50px;
}
/*begin css reset*/
body {
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end css reset*/
body {
  margin: 0px;
}
h4 {
  font-size: larger;
  font-weight: 500;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* -------- DIV -------- */
div {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
#sandbox-host {
  display: flex;
  flex-direction: column;
}
#div-sizeControllerWorkaround {
  height: 100%;
}
#div-header {
  height: var(--headerheight);
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  background: var(--tbh-blue-background);
  color: white;
  position: relative;
  padding: 10px;
  flex-shrink: 0;
}
#div-content {
  width: 100%;
  display: flex;
  min-height: 0;
}
#div-statusLine {
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
#div-chart {
  width: var(--chartPortionPct);
  border-style: none none none solid;
  border-width: 2px;
  border-color: black;
  overflow: scroll;
}
#div-activities {
  width: 25%;
  flex-shrink: 0;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100%;
}
#div-chart::-webkit-scrollbar {
  height: 20px;
}
#div-timeline {
  height: 100%;
  border-bottom: 1px gray;
  width: 75%;
  overflow-x: scroll;
  overflow-y: clip;
}
#div-timeline::-webkit-scrollbar {
  height: 0px;
}
/* ------- TABLE ------- */
table {
  width: 100%;
  border: 1px solid blue;
}
#table-activityHeader {
  width: 25%;
  color: #bbbbbb;
  flex-shrink: 0;
}
th {
  height: var(--timelineHeight);
}
tr {
  height: var(--rowHeight);
}
td {
  min-width: 40px;
  border: 1px #aaaaaa;
  border-style: solid none solid solid;
}
/* #table-ganttGrid{

} */
/* ------- TIMELINE ------- */
#svg-statusLine {
  z-index: 3;
}
#statusLine {
  stroke: #00ffff;
  stroke-width: 2px;
}
.g-tl {
  border: 1px solid black;
}
.yearText {
  font-size: 26px;
}
.monthText {
  text-anchor: middle;
}
/* ------- CHART ------- */
.activityBar {
  stroke: black;
  stroke-width: 1px;
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  border: none;
}
::-webkit-scrollbar-track {
  background: var(--tbh-blue-background);
}
::-webkit-scrollbar-corner {
  background: var(--tbh-blue-background);
}
::-webkit-scrollbar-thumb {
  background: var(--tbh-blue1);
}
::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}
/* ------- DEBUG ------- */
.highlight {
  background-color: rgba(0, 255, 0, 0.25);
  border: 1px solid #00ff00;
}
.style1 {
  padding-left: 0px;
}
.style2 {
  padding-left: 5px;
}


/*# sourceMappingURL=https://localhost:8080/assets/visual.css.map*/