:root {
  --rowHeight: 20px;
  --timelineHeight: 50px;
  --chartPortionPct: 70%;
  --tbh-blue-background: #232d40;
  --tbh-blue1: #19808f;
  --tbh-blue2: #09343f;
  --headerheight: 50px;
}
body {
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0px;
}
h4 {
  font-size: larger;
  font-weight: 500;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#sandbox-host {
  display: flex;
  flex-direction: column;
}
#div-header {
  height: var(--headerheight);
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
  background: var(--tbh-blue-background);
  color: white;
  position: relative;
  padding: 10px;
  flex-shrink: 0;
}
#div-content {
  min-height: 0;
  width: 100%;
  display: flex;
}
#div-activities {
  width: 30%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.div-content-header {
  height: fit-content;
  width: 100%;
  min-width: 100%;
  min-height: var(--timelineHeight);
  flex-shrink: 0;
  border-bottom: 1px solid black;
  overflow-x: scroll;
}
.div-content-body {
  min-height: 0px;
  min-width: 100%;
  flex-grow: 1;
  overflow: scroll;
}
#div-chart {
  width: var(--chartPortionPct);
  border-style: none none none solid;
  border-width: 2px;
  border-color: black;
  display: flex;
  flex-direction: column;
}
#div-chart::-webkit-scrollbar {
  height: 20px;
}
#div-timeline {
  max-width: 100%;
}
#div-timeline::-webkit-scrollbar {
  height: 0px;
}
/* ------- TABLE ------- */
table {
  width: fit-content;
}
#table-activityHeader {
  width: fit-content;
  color: #bbbbbb;
}
th {
  height: var(--timelineHeight);
  padding: 0px 5px 0px 5px;
  text-align: center;
  width: auto;
  color: black;
}
.td-name {
  min-width: none;
  width: auto;
}
tr {
  height: var(--rowHeight);
}
td {
  width: fit-content;
  border: 1px #aaaaaa;
  border-style: solid none solid solid;
  white-space: nowrap;
  overflow: hidden;
}
.indent0 {
  padding-left: 0px;
}
.indent1 {
  padding-left: 25px;
}
.indent2 {
  padding-left: 50px;
}
.indent3 {
  padding-left: 75px;
}
.indent4 {
  padding-left: 100px;
}
/* #table-ganttGrid{

} */
/* ------- TIMELINE ------- */
#statusLine {
  stroke: #00ffff;
  stroke-width: 2px;
}
.g-tl {
  border: 1px solid black;
}
.yearText {
  font-size: 26px;
}
.monthText {
  text-anchor: middle;
}
#svg-tl {
  padding-right: 20px;
}
/* ------- CHART ------- */
.activityBar {
  stroke: gray;
  stroke-width: 0px;
}
#svg-statusLine {
  z-index: 3;
}
/* ------- SCROLLBAR ------- */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  border: none;
}
::-webkit-scrollbar-track {
  background: var(--tbh-blue-background);
}
::-webkit-scrollbar-corner {
  background: var(--tbh-blue-background);
}
::-webkit-scrollbar-thumb {
  background: var(--tbh-blue1);
}
::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}
#div-activityTable::-webkit-scrollbar {
  width: 0px;
}
.div-content-header::-webkit-scrollbar {
  height: 0px;
}
/* ------- DEBUG ------- */
.highlight {
  background-color: rgba(0, 255, 0, 0.25);
  border: 1px solid #00ff00;
}


/*# sourceMappingURL=https://localhost:8080/assets/visual.css.map*/